/*
  # will style the single element declared with an attribute id="foo"
  . will style all elements with an attribute class="foo" 
*/

body {
    background-color: #FFFF;
    /*background-color: #a7a4a472;*/
    
}

#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a2b7e;
    color: white;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#banner h2 {
    margin: 0;
    font-size: 20px; /* title text size */
}

#github-link img {
    height: 30px;
    margin-right: 10px; /* change the placement witin the banner */
}

#github-link {
    display: flex;
    align-items: center;
    margin-right: 60px;
    color: white;
    height: 30px;
    }

  #chapter_1-container {
    width: 70%; 
    margin-left: 15%; 
    float: left;
    margin-left: 260px; /* move the entire chapter right */
    margin-top: 75px; /* move the entire chapter down or up */
    padding-bottom: 100px; /* add extra space at the bottom */
    overflow: scroll; /* enable scrolling past the end of the last sentce*/
    height: calc(200vh - 200px); /* set a height to limit the scrolling area */
  }
    
/* Sidebar and search bar */
#sidebar {
    position: fixed; /* fix the poition of the side bar */
    top: 50px; /* adjust side top potisiton */
    left: 0;
    width: 250px; /* adjust size of sidebar on the x-axis*/
    height: 100%; 
    /*background-color: #3d414d;*/
    background-color: #a7a4a472;
    padding: 20px;
    box-sizing: border-box;
    
  }

  #sidebar details {
    margin-bottom: 10px;
  }
  
  #search-box {
    margin-bottom: 20px;
    border-color: black;
  }
  
  #search-box input[type="text"] {
    width: 90%; /* search box size for the left (x axis) */
    padding: 15px; /* scale search box size */ 
    border: 0;
    
    border-radius: 20px;
    margin-top: 10px; /* move search box from the bot of the sidebar*/
  }

  .spacer {
    aspect-ratio: 900/540;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./layer2.svg');
  }
  
  .layer2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    z-index: -1;
    background-image: url('./layer2.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
 
  footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a2b7e;
    color: white;
    padding: 5px;
  }
  

.content {
    flex-basis: 68%;
}




