/*
  # will style the single element declared with an attribute id="foo"
  . will style all elements with an attribute class="foo" 
*/

body {
    background-color: #FFFF;
    /*background-color: #a7a4a472;*/
    
}

#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a2b7e;
    color: white;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#banner h2 {
    margin: 0;
    font-size: 30px;
}

#github-link img {
    height: 30px;
    margin-right: 10px; /* change the placement witin the banner */
}

#github-link {
    display: flex;
    align-items: center;
    margin-right: 60px;
    color: white;
    height: 30px;
    }

#chapter-container {
    width: 70%; 
    margin-left: 15%; 
    float: left;
    margin-left: 260px; /* move the entile chapter down or up */
    margin-top: 50px;
}
        

/* Sidebar and search bar */
#sidebar {
    position: fixed; /* fix the poition of the side bar */
    top: 50px; /* adjust side top potisiton */
    left: 0;
    width: 250px; /* adjust size of sidebar on the x-axis*/
    height: 100%; 
    /*background-color: #3d414d;*/
    background-color: #a7a4a472;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #search-box {
    margin-bottom: 20px;
    border-color: black;
  }
  
  #search-box input[type="text"] {
    width: 90%; /* search box size */
    padding: 10px;
    border: 0;
    
    border-radius: 20px;
    margin-top: 30px;
  }
  
 
  footer {
    margin-top: auto;
  }

.content {
    flex-basis: 68%;
}




